.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3rem;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  border: 0.1rem solid #444;
}

.container > div {
  margin: auto;
}

.container h3 {
  color: #dddddd;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}

.picker {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.picker:hover {
  background-color: #333333;
}